body {
    padding: 0;
    overflow-x: hidden
}


.navegador img {
    width: 80%;
    margin-left: -100px;
}

.carousel {
    margin-top: -120px;
}

.navegador {
    z-index: 2;
    background: rgb(8,8,8) !important;
    background: linear-gradient(0deg, rgba(8,8,8,0) 0%, rgba(0,0,0,0.8351540445279675) 100%) !important;
}

    .navegador .dropdown i {
        font-size: 40px;
        color: #fff;
    }


.dropdown-toggle::after {
    color: transparent;
}

.navegador .form-control {
    background: transparent;
    border: solid 1px #fff;
}

    .navegador .form-control::placeholder {
        color: #fff !important;
    }

footer {
    background: black;
    padding: 10px;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}


.categorias {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

    .categorias h2 {
        margin-bottom: 60px;
    }

    .categorias img {
        transition: 0.5s;
    }

    .categorias img:hover {
            transform: scale3d(1.2, 1.2, 0.3);
     }


.banner-1 {
    width: 100%;
    height: 300px;
    background-image: url(https://arredo.vteximg.com.br/arquivos/050421-nw_home-bloque-nuevacoleccion.png?v=637532225123670000);
    background-size: cover;
    height: 550px;
}


.nav-item .dropdown-menu {
    background: rgba( 248, 249, 249, .8);
    min-width: 200px;
    padding: 10px;
}

    .nav-item .dropdown-menu a {
        font-weight: 600;
        color: #303030;
    }

.sub-menu-desplegable {
    list-style: none !important;
    color: #303030;
    font-weight: 600;
    border-bottom: solid 1px #a19f9e;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: none;
}

    .sub-menu-desplegable li {
        margin-left: -30px;
    }


.nav-item .dropdown-menu a:hover {
    color: #e2718a;
    background: rgba( 248, 249, 249, .8);
}

.ver{
    display: block !important;
}


.scroll-nav {
    background: #fff !important;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    box-shadow: 2px 2px 25px 10px rgba(0, 0, 0, 0.3);
}

    .scroll-nav .nav-item i {
        color: #565656
    }

.scroll-logo{
    display: none;
}

.scroll-nav #txtFiltrar {
    border: solid 1px #565656
}

    .scroll-nav #txtFiltrar::placeholder {
        color: #565656 !important;
    }

.nav-link i{
    transition: 1s;
}

.ver-listado {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .ver-listado i {
        font-size: 14px !important;
        color: #303030 !important;
    }

    .ver-listado:hover i {
        color: #ee7493 !important;
    }

.login, .carrito {
    color: #fff;
    padding: 10px;
    font-size: 25px;
    transition: 1s;
}

    .login:hover, .carrito:hover, .scroll-nav .login:hover, .scroll-nav .carrito:hover, .nav-link:hover i {
        color: #ee7493;
    }

.scroll-nav .login, .scroll-nav .carrito {
    color: #565656;
}


/*PRODUCTOS*/
.banner-video {
    background: #fff;
    position: relative;
    min-height: 149px;
}

    .banner-video iframe {
        width: 100vw;
        height: 56.25vw;
        min-height: 100vh;
        min-width: 177.77vh;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .banner-video h2 {
        position: absolute;
        top: 60px;
        left: 28%;
        color: #fff;
        font-weight: 600;
    }


.banner-2 {
    background: #ee7493;
    padding: 10px;
    text-align: center;
    color: #fff;
    padding-top: 20px;
    font-weight: 600;
    margin-bottom: 50px;
}

    .banner-2 .col-sm:nth-child(2) {
        border-left: solid 1px;
        border-right: solid 1px;
    }

.productos .precio {
    font-size: 22px;
    font-weight: 600;
}

.productos h5 {
    font-size: 15px;
    color: #565656;
}

.productos .card {
    border: none !important;
    ;
    box-shadow: 1px 2px 15px 1px rgba(0, 0, 0, 0.1);
    transition: 1s;
}

    .productos .card:hover {
        cursor: pointer;
        transform: scale3d(1.1, 1.1, 0.3);
        box-shadow: 1px 2px 15px 5px rgba(0, 0, 0, 0.2);
        z-index: 3;
    }

.productos {
    padding: 30px;
}

a {
    text-decoration: none !important;
}

.productos .card .precio {
    color: black;
}

/*PRODUCTOS - FIN*/

/*DETALLE PRODUCTOS */

.detalle .card img {
    width: 100%;
}

.detalle {
    padding: 40px;
    margin-top: -30px;
}

    .detalle .card-title {
        font-size: 30px;
        font-weight: 600;
        color: #444444;
    }

  

.color {
    border: solid 2px #fff;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    margin-top: 0px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.barra-color span {
    color: #787878;
    font-size: 23px;
    font-weight: 600;
    margin-right: 20px;
}

.barra-color {
    display: flex;
    align-items: center;
    padding: 8px;
    padding-left: 30px;
    padding-right: 20px;
    width: 200px;
    justify-content: space-between;
    border-radius: 50px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
}

.detalle .precio {
    font-size: 40px;
    display: block;
    margin-bottom: 10px;
    color: #444444;
}

.detalle .card .card-body {
    padding: 30px;
    width: 95%;
    margin: auto;
    margin-top: 90px;
    box-shadow: 1px 2px 20px 1px rgba(0, 0, 0, 0.1);
    height: 80%;
    border-radius: 10px
}

    .detalle .card .card-body p {
        color: #afafaf;
    }

.detalle .card {
    border-radius: 20px;
    box-shadow: 1px 2px 20px 1px rgba(0, 0, 0, 0.1);
    border: none
}

    .detalle .card img {
        border-radius: 20px
    }

    .detalle .card .card-title {
        background: #ff7699;
        color: #f6f6f6;
        position: absolute;
        top: 0;
        right: 0;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 15px;
    }

.detalle .botones {
    display: grid;
    margin-top: 60px;
    grid-gap: 5px
}

    .detalle .botones input {
        margin: auto;
        background: red;
        padding: 15px;
        width: 300px;
        border: none;
        border-radius: 6px;
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        transition: .5s;
        border: solid 1px #ff7699;
    }

        .detalle .botones input:nth-child(1) {
            background: #ff7699;
        }

        .detalle .botones input:nth-child(2) {
            background: #ffbbcd;
        }


        .detalle .botones input:hover {
            background: transparent;
            border: solid 1px #ff7699;
            color: #ff7699;
        }


.detalle .caracteristicas span {
    padding: 20px;
    box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
    color: #444444
}

.detalle .caracteristicas {
    display: grid;
    grid-gap: 10px;
    padding: 20px;
    grid-template-columns: repeat(2,1fr);
}

.detalle .nav-link {
    color: #ff7699;
}

/*DETALLE PRODUCTOS - FIN*/


.carrito-lleno {
    position: fixed;
    z-index: 9999;
    top: 0;
    background: #fff;
    width: 30%;
    height: 100vh;
    left: -1000px;
    transition: .5s;
}

    .carrito-lleno .carrito-contenido {
        padding: 20px;
    }

    .carrito-lleno .producto {
        display: grid;
        grid-template-columns: 100px 1fr;
        border: solid 1px #8d8d8d;
        padding: 10px;
        grid-gap: 10px;
        position: relative;
        margin-top: 8px;
    }

        .carrito-lleno .producto img {
            width: 100%;
        }

        .carrito-lleno .producto h3 {
            font-size: 20px;
            color: #565656;
            font-weight: 600;
        }

        .carrito-lleno .producto .info {
            padding: 16px;
            line-height: 10px
        }

        .carrito-lleno .producto span {
            color: #f87498;
            font-weight: 600;
        }

    .carrito-lleno #btnEliminarProducto {
        font-size: 23px;
        color: #fa7497;
        padding: 6px;
        transition: .5s;
        position: absolute;
        right: 6px;
    }


        .carrito-lleno #btnEliminarProducto:hover {
            color: #dc001a
        }


.carrito-lleno {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .carrito-lleno .carrito-botones {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 5px;
        grid-gap: 2px;
    }

        .carrito-lleno .carrito-botones input {
            background: #ee7493;
            border: none;
            padding: 8px;
            color: #fff;
            padding-left: 20px;
            padding-right: 20px;
            font-weight: 600;
            transition: 1s;
            border: solid 1px;
        }

            .carrito-lleno .carrito-botones input:hover {
                background: #fff;
                color: #ee7493;
                border: solid 1px;
            }

    .carrito-lleno .cerrar-carrito {
        position: absolute;
        right: -30px;
        top: 50%;
        background: black;
        color: #fff;
        padding: 10px;
        font-size: 20px;
        padding-left: 14px;
        padding-right: 14px;
        border-radius: 10px;
        transition: .5s;
        z-index: 9999;
    }

        .carrito-lleno .cerrar-carrito:hover {
            cursor: pointer;
            color: #fc7497;
            transform: scale3d(1.1, 1.3, 0.3);
        }


.carrito-footer .carrito-total {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: 600;
    border-top: solid 1px;
    width: 90%;
    margin: auto;
}

    .carrito-lleno .carrito-contenido {
        height: 80vh;
        overflow-y: scroll;
        width: 95%;
        margin: auto;
        scrollbar-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, 0);
        scrollbar-width: thin;
    }
